/* div {
  background-color: red;
} */

/* #lorem-element {
  background-color: red;
}

#css-element {
  background-color: bisque;
}

#hello-world-element {
  background-color: yellow;
} */

/* div.card#p140-card {
  background-color: red;
} */

/* p {
  color: blueviolet;
}

.paragraph {
  color: red;
}

#paragraph {
  color: chocolate;
} */
/* 
#paragraph {
  color: burlywood !important;
}

p {
  color: yellow !important;
} */

/* div .card {
  color: red;
}

#outside-div .card {
  color: turquoise;
}

.card {
  background-color: aqua;
} */
/* 
#card-span-first {
  background-color: red;
}

#card-span-second {
  background-color: aquamarine;
} */
