.blog-header {
  height: 500px;
  background-image: url("../assets/images/blog/landing-bg-2.png"),
    url("../assets/images/blog/landing-bg-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
